[Desktop Entry]
Name[ja]=MATE 電卓
Name=MATE Calculator
GenericName[ja]=電卓
GenericName=Calculator
Comment[ja]=算術/科学/財務の計算を行います
Comment=Perform arithmetic, scientific or financial calculations
Exec=mate-calc
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
Keywords=calculator;MATE;scientific;arithmetic;financial;calculations;
Categories=GTK;Utility;Calculator;
X-MATE-DocPath=mate-calc/mate-calc.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-calc
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-OtherBinaries=mate-calculator
X-XFCE-Source=file:///usr/share/applications/mate-calc.desktop
