[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Templates]
row=3
col=1

[/home/user/Documents]
row=0
col=2

[/home/user/test]
row=4
col=2

[/home/user/etc]
row=3
col=0

[/home/user/Videos]
row=3
col=2

[/home/user/Pictures]
row=2
col=2

[/home/user/Download]
row=0
col=1

[/home/user/bin]
row=4
col=0

[/home/user/Music]
row=1
col=2

[/home/user/Desktop]
row=1
col=1

[/home/user/Downloads]
row=2
col=1

[/home/user/Public]
row=4
col=1

[ゴミ箱]
row=0
col=0

[/]
row=1
col=0

[/home/user]
row=2
col=0

